/* ----------------------------------------------- *\
    Style for table which contains selected items
\* ----------------------------------------------- */
@use "../../styles/styles.scss";

#randomize-button {
    @include styles.rounded-button(#e49709);
    display: block;
    font-size: large;
    width: 100%;
    // padding: 6px 60px;
    margin: 0 auto;
}

#selected-items-container {
    display: flex;
    // align-items: stretch;
    height: 100%;
    // width: 100%;
    // min-width: 1000px;
}

#render-container {
    // flex-grow: 100;
    width: 100%;
    padding: 30px;
    min-width: 400px;
    // height: 100%;
}

#collapse-selected-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50px;
    text-align: center;
}

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: black;
    margin: 0 auto;
}

#show-hide-arrow-container {
    margin: 20px auto;
    white-space: nowrap;
    font-size: 20px;
    cursor: pointer;

    &:hover {
        color: gray;
    }

    * {
        display: inline-block;
    }

    .vertical {
        writing-mode: vertical-lr;
        @include styles.centered-inline;
    }
}

.flipped {
    transform: rotate(-180deg);
}
