/* ------------------------------------- *\
    Style for table for selecting parts
\* ------------------------------------- */
@use "../../styles/styles.scss";

#item-listing {
    margin-left: 220px;

    table {
        width: 100%;
    }
}

.sort-by {
    margin-top: 30px;
    margin-left: 10px;

    select {
        margin-left: 10px;
    }
}

.compatibility-message {
    margin-left: 10px;
}
