@use "../../styles/styles.scss";

#filters-box {
    width: 220px;
    margin-right: 20px;

    h2 {
        margin-top: 0;
    }

    .numeric-range-input {
        margin: 3px;

        input {
            @include styles.standard-rounded-border;
            width: 30px;
            margin: 3px;
        }
    }
}
