@use "../../styles/styles.scss";
@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);

header {
    background-color: styles.$theme-color-dark;
    display: flex;
    align-items: center;

    #keyboard-icon {
        height: 45px;
    }

    h1 {
        font-family: "Righteous", sans-serif;
        margin: 0 0 0 30px;
        color: styles.$theme-color-1;
        font-size: 50px;
    }

    #header-inner {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 15px 30px;
    }
    
    #header-visualizer {
        color: styles.$theme-color-2;
    }
}

nav {
    flex-grow: 1;

    div {
        float: right;
    }

    a {
        font-size: 20px;
        color: styles.$theme-color-3;
        text-decoration: none;
        padding: 0 20px;

        &:hover {
            opacity: 0.8;
        }
    }
}

.active-page-link {
    color: styles.$theme-color-1;
}
