@use "../../styles/styles.scss";

#group-buys-listing {
    display: flex;
    flex-wrap: wrap;
}

.group-buy-item {
    margin: 10px;
    padding: 20px;
    border: 1px solid styles.$light-border-color;

    a {
        color: styles.$theme-color-1;
        font-size: 20px;
    }

    button {
        @include styles.rounded-button(styles.$theme-color-1);
        font-size: 16px;
    }
}

.gb-info {
    list-style-type: none;
    padding: 0;
    text-align: right;
    b {
        float: left;
    }
}

.image-container {
    @include styles.bordered-img-container(300px, 200px);
}
