/* ------------------------------------- *\
    Style for table for selecting items
\* ------------------------------------- */
@use "../../styles/styles.scss";

#item-selection {
    display: flex;
}

#back-button {
    @include styles.rounded-button(orange);

    display: inline-block;
    color: black;
    margin-bottom: 20px;
}

#items-top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#item-listing {
    flex-grow: 1;
    // margin-left: 220px;

    table {
        width: 100%;
    }
}

.sort-by {
    margin-left: 10px;

    select {
        margin-left: 10px;
    }
}

.compatibility-message {
    margin-left: 10px;
}
