@use "../../styles/styles.scss";

#centered-login-block {
    margin: 0 auto;
    width: 600px;

    h2 {
        text-align: center;
    }

    hr {
        background-color: black;
    }
}

.login-form-container {
    margin-top: 20px;
    padding: 30px;

    h2 {
        margin: 0;
    }

    input[type=submit] {
        @include styles.rounded-button(styles.$theme-color-1);
        width: 100%;
        font-size: 20px;
        padding: 10px;
    }
}

#below {
    text-align: center;

    a {
        color: styles.$theme-color-1;
        text-decoration: none;
    }
}

.login-input-container {
    position: relative;

    .text-field-icon {
        position: absolute;
        top: 50%;
        left: 6px;
        transform: translateY(-50%);
        text-align: center;
        color: #888;
        font-size: 24px;
    }

    input {
        @include styles.standard-rounded-border;
        width: 100%;
        box-sizing: border-box;
        text-indent: 30px;
        padding: 5px;
        font-size: 16px;
        font-family: styles.$main-font;
    }
}
