/* -------------- *\
    Global style
\* -------------- */

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Heebo", sans-serif;
    background-color: #fcfcf8;
}

#root {
    display: flex;
    flex-direction: column;
}

h4 {
    margin-bottom: 3px;
}

table {
    border-spacing: 0;
}

thead {
    font-weight: 600;
    text-align: left;
}

td {
    border-top: 1px solid #ccc;
}

td, th {
    padding: 20px 10px;
}

select {
    border-color: #ccc;
    border-radius: 4px;
    padding: 4px;
}

/* -------------- *\
    Header style
\* -------------- */

header {
    font-family: "Righteous", sans-serif;
    background-color: #2f3843;
    display: flex;
    align-items: center;
}

#header-inner {
    display: flex;
    align-items: center;
    margin: 15px 30px;
}

header h1 {
    margin: 0 0 0 30px;
    color: #45a29e;
    font-size: 50px;
}

#header-part {
    color: #66fcf1;
}

/* Define style used by both selected item and new item selection tables */

.item-name-cell {
    min-width: 350px;
}

.item-price-cell {
    width: 80px;
}

.item-image-container {
    display: inline-block;
    width: 150px;
    height: 100px;
    vertical-align: middle;
    border: 1px solid #bbb;
    background-color: white;
    margin-right: 10px;
    position: relative;
}

.item-image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 148px;
    max-height: 98px;
}

.item-name {
    width: 180px;
    vertical-align: middle;
    display: inline-block;
}

.selected-item-image-container {
    width: 100px;
    height: 66px;
}

.selected-item-image-container img {
    max-width: 100px;
    max-height: 66px;
}

/* ----------------------------------------------- *\
    Style for table which contains selected parts
\* ----------------------------------------------- */

#selected-items-container {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    width: 100%;
    min-width: 1500px;
}

#rightmost {
    flex-grow: 100;
}




#collapse-selected-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60px;
    /* background-color: red; */
    /* position: relative; */
    text-align: center;
}

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: black;
    margin: 20px auto 20px auto;
}

#show-hide-arrow-container {
    white-space: nowrap;
    font-size: 20px;
    cursor: pointer;
}

#show-hide-arrow-container:hover {
    color: gray;
}

#arrow {
    display: inline;
}

#vertical-hide {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    display: inline;
    vertical-align: middle;
}

#vertical-show {
    writing-mode: vertical-lr;
    display: inline;
    vertical-align: middle;
}




#render-container {
    margin: 30px;
    /* width: 100%; */
}

#keyboard-render {
    position: relative;
}

#keyboard-render > * {
    position: absolute;
}

#webgl-canvas {
    top: 0;
    left: 0;
    z-index: 0;
}

#render-inputs {
    /* color: white; */
    padding: 10px;
    font-size: 14px;
}

#render-inputs input[type=color] {
    /* background-color: #666; */
    width: 30px;
}

#render-inputs button {
    background-color: #666;
    border-radius: 3px;
    border: 1px solid black;
    color: white;
    font-family: "Heebo", sans-serif;
    font-size: 14px;
}

#selected-item-table {
    margin: 10px 40px;
}

/* Special class for selected parts that are in a kit */
.part-in-kit td {
    color: darkgray
}

/* Style button for selecting a part */

.select-item-button {
    background-color: #48f;
    color: white;
    border-radius: 8px;
    border-width: 0;
    padding: 5px 10px;
    font-family: "Heebo", sans-serif;
}

.select-item-button:hover {
    background-color: #36e;
    cursor: pointer;
}

.select-item-button:disabled {
    cursor: default;
    background-color: #ccc;
    color: #eee;
}

.kit-item-button {
    background-color: #ffa500;
}

.kit-item-button:hover {
    background-color: #ea8c00;
}

.kit-item-button:disabled {
    background-color: rgb(189, 174, 132);
}

/* Style button for deleting a chosen part */

.delete-button {
    border-radius: 15px;
    border-width: 0;
    background-color: #faa;
    font-size: 13px;
    padding: 3px 7px 5px 7px;
}

.delete-button:hover {
    background-color: #f66;
}

.delete-button * {
    margin: 0;
}

/* ------------------------------------- *\
    Style for table for selecting parts
\* ------------------------------------- */

#filters-box {
    width: 200px;
    margin-left: 40px;
    float: left;
}

#select-item-table {
    width: 100%;
}

/* Make select button cell width exactly fit button */
.item-select-cell {
    width: 1px;
    white-space: nowrap;
}

.item-link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.item-link:hover {
    color: #666;
}

.match-some-chosen-checkbox {
    background-color: orange;
}

.match-all-chosen-checkbox {
    background-color: green;
}

.numeric-range-input {
    margin: 3px;
}

.numeric-range-input input {
    width: 30px;
    margin: 3px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.return-button {
    margin-top: 10px;
    font-family: "Heebo", sans-serif;
    color: white;
    background-color: #48f;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.sort-by {
    margin-top: 30px;
    margin-left: 10px;
}

.sort-by select {
    margin-left: 10px;
}







/*.selected-image-col {
    width: 200px;
}

.selected-item-col {
    width: 300px;
}

.selected-price-col {
    width: 100px;
}

.delete-selection-col {
    width: 50px;
}*/

