$main-font: "Heebo", sans-serif;
$light-border-color: #aaa;

$theme-color-dark: #2f3843;
$theme-color-1: #45a29e;
$theme-color-2: #66fcf1;
$theme-color-3: #eff;

$body-background-color: #fcfcf8;

@mixin centered-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin icon-text-input-container($input-width, $font-size) {
    position: relative;

    .text-input-icon {
        position: absolute;
        font-size: $font-size;
        top: 50%;
        left: $font-size * 0.6;
        transform: translateY(-50%);
        text-align: center;
        color: #888;
    }

    input {
        @include standard-rounded-border;
        width: $input-width;
        box-sizing: border-box;
        text-indent: 30px;
        padding: 5px;
        font-size: $font-size;
        font-family: $main-font;
    }
}

@mixin centered-inline {
    display: inline-block;
    vertical-align: middle;
}

@mixin standard-rounded-border {
    border: {
        width: 1px;
        style: solid;
        color: $light-border-color;
        radius: 4px;
    }
    padding: 4px;
}

@mixin bordered-img-container($width, $height) {
    position: relative;
    width: $width;
    height: $height;

    background-color: white;
    border: {
        width: 1px;
        style: solid;
        color: #ccc;
    }

    img {
        @include centered-absolute;
        max-width: $width;
        max-height: $height;
    }
}

@mixin rounded-button($color) {
    background-color: $color;
    color: white;
    border-radius: 8px;
    border-width: 0;
    padding: 5px 10px;
    font-family: $main-font;

    &:hover {
        background-color: darken($color, 6%);
        cursor: pointer;
    }

    &:disabled {
        cursor: default;
        background-color: #ccc;
        color: #eee;
    }
}
